# ignore dependent ckpts 
dependency/*
compr

# ignore slurm runs
run/
data_ln/
runs/
wandb/

__pycache__/
__pycache__
*.pyc

execute.sh
helpers/

configs/latent-diffusion/brats*
configs/latent-diffusion/ruijin*
configs/latent-diffusion/ensemble*
configs/latent-diffusion/cdm*
configs/latent-diffusion/medsyn*
configs/downstream
configs/clip
configs/classifier
configs/autoencoder/brats*
configs/autoencoder/ruijin*
configs/categorical-diffusion/ruijin*
configs/categorical-diffusion/ensemble*

ldm/modules/vision_mamba.py
inference/fvd.py
inference/metric_cal.py